<div>
  <form [formGroup]='rForm' (ngSubmit)="addForm(rForm.value)">

    <div class="form-container">
      <div class="row">
          <div class="large-6 columns">
        <label>Name
          <input type="text" formControlName="name">
          </label>
          <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">Validate Alpha with Space</div>


          <label>Email
              <input type="text" formControlName="email">
              </label>
              <div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">Validate email</div>

          <label>Password
            <input type="password" formControlName="password">
          </label>    
          
          <label>Confirm Password
              <input type="password" formControlName="cnfpassword">
          </label>    
          <div class="alert" *ngIf="!rForm.controls['cnfpassword'].valid && rForm.controls['cnfpassword'].touched">Validate email</div>

        <input type="submit" class="button expanded" value="Register" [disabled]="!rForm.valid">
      </div>
    </div>
    </div>

  </form>
</div>